<nav class="part">
    <a class="nav-logo" href="{{ '/' | relative_url }}">
        <div class="nav-logo-wrapper nav-logo-prm-wrapper">
            <div class="nav-logo-color">{% include logo.svg %}</div>
            <div class="nav-logo-light">{% include logo-light.svg %}</div>
        </div>
        <div class="nav-logo-wrapper nav-logo-sec-wrapper">
            <span>Swiss XI</span>
        </div>
    </a>
    <a href="{{ '/games' | relative_url }}"><span>Games</span></a>
    <a href="{{ '/about' | relative_url }}"><span>About us</span></a>
</nav>
