<div class="slideshow">
    <div id="slides">
        <div class="slide slide-1">
            <img src="{{ 'assets/images/slideshow1.jpeg' | relative_url }}" alt="Slideshow 1">
            <div class="slide-panel">
                <h3>Excellence</h3>
                <p>Our team has always pushed very hard to deliver the best.</p>
            </div>
        </div>
        <div class="slide slide-2">
            <img src="{{ 'assets/images/slideshow2.jpeg' | relative_url }}" alt="Slideshow 2">
            <div class="slide-panel">
                <h3>Tradition</h3>
                <p>Taking inspiration from our founders, we strive for greatness.</p>
            </div>
        </div>
        <div class="slide slide-3">
            <img src="{{ 'assets/images/slideshow3.jpeg' | relative_url }}" alt="Slideshow 3">
            <div class="slide-panel">
                <h3>Team spirit</h3>
                <p>The most important part of every team is good collaboration.</p>
            </div>
        </div>
    </div>
    <div id="controls">
        <div id="ctrl-1" class="ctrl" onclick="set_slideshow(1)"></div>
        <div id="ctrl-2" class="ctrl" onclick="set_slideshow(2)"></div>
        <div id="ctrl-3" class="ctrl" onclick="set_slideshow(3)"></div>
    </div>
</div>
<script src="{{ '/assets/js/slideshow.js' | relative_url }}"></script>