* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $head-font-family;
    font-weight: $head-font-weight;
}

#nav-wrap, #footer-wrap {
    background: $text-color;
    color: $background-color;
}

#nav-wrap {
    font-family: $head-font-family;
    font-size: 1.5em;
    font-weight: $head-font-weight;
}

nav>* {
    color: $background-color;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.1s, background 0.1s;
}

nav>*:hover {
    background: $background-color;
    color: $text-color;
}