body {
    position: relative;
}

.part-wrap {
    width: 100%;
}

.part {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

#nav-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    z-index: 100;
    transition: height 0.1s;


    nav {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    nav>* {
        display: flex;
        padding: 0 0.5em;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .nav-logo {
        flex-grow: 0;
        flex-shrink: 0;
        overflow: hidden;
    }

    .nav-logo svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 80px;
    }

    .nav-logo-wrapper {
        overflow: hidden;
        height: 100%;
        transition: width 0.1s, height 0.1s, opacity 0.1s;
    }

    .nav-logo-sec-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 0;
        height: 40px;
        overflow: hidden;
        opacity: 0;
    }

    .nav-logo-sec-wrapper > span {
        min-width: 110px;
        overflow: visible;
    }

    .nav-logo-prm-wrapper {
        position: relative;
        width: 120px;
        height: 80px;
        opacity: 1;
    }

    .nav-logo-color, .nav-logo-light {
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 80px;
        transition: opacity 0.1s;
    }

    .nav-logo-color {
        opacity: 0;
    }
    .nav-logo-light {
        opacity: 1;
    }

    nav>*:hover .nav-logo-color {
        opacity: 1;
    }
    nav>*:hover .nav-logo-light {
        opacity: 0;
    }

    .scrolled .nav-logo-prm-wrapper {
        width: 0;
        opacity: 0;
    }
    .scrolled .nav-logo-sec-wrapper {
        width: 110px;
        opacity: 1;
    }
}

#nav-wrap.scrolled {
    height: 40px;
}

#main-wrap {
    min-height: 100vh;

    main {
        padding-top: 80px;
        padding-bottom: 120px;
    }
}


#footer-wrap {
    margin-top: -120px;
    height: 120px;

    footer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .footer-half {
            box-sizing: border-box;
            height: 100%;
            width: 50%;
            padding: 10px;
        }
    }
}

