.slideshow {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  overflow: hidden;

  #slides {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;

    .slide {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 500px;
      transition: left 0.5s, opacity 0.5s;
      overflow: hidden;
      z-index: 0;

      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }

      .slide-panel {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 50%;
        min-width: 250px;
        height: 40%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-end;
        color: white;
        font-size: 2em;
      }
    }

    .curr, .prev, .next {
      display: block;
    }

    .curr {
      opacity: 1;
      z-index: 1;
    }

    .prev {
      left: -100%;
    }

    .next {
      left: 100%;
    }
  }

  #controls {
    position: absolute;
    bottom: 10px;
    left: 40%;
    width: 20%;
    height: 15px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    .ctrl {
      display: block;
      height: 11px;
      width: 11px;
      margin: 0 5px;
      border: solid 2px white;
      background: none;
      opacity: 0.5;
      z-index: 2;
      border-radius: 50%;
    }

    .ctrl.curr {
      background: white;
    }

    .ctrl:hover {
      opacity: 1;
    }
  }
}