---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url("https://rsms.me/inter/inter.css");
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@400;700&display=swap');

// Our variables
$base-font-family: "Inter", Helvetica, Arial, sans-serif;
//$base-font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.8;
$base-line-height: 1.5;

$head-font-family: "Inter", Helvetica, Arial, sans-serif;
//$head-font-family: "Oswald", Impact, sans-serif;
$head-font-size:   $base-font-size * 1.25;
$head-font-weight: 800;

$spacing-unit:     20px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "slideshow"
;
