<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div class="part-wrap" id="nav-wrap">
    {% include header.html %}
</div>
<div class="part-wrap" id="main-wrap">
    <main class="part">
        {{ content }}
    </main>
</div>

<div class="part-wrap" id="footer-wrap">
    {% include footer.html %}
</div>

</body>

</html>
